[submodule "SimSpark"]
	path = SimSpark
	url = https://gitee.com/doot/SimSpark.git
[submodule "ode-tbb"]
	path = ode-tbb
	url = https://gitee.com/doot/ode-tbb.git
[submodule "RoboViz"]
	path = RoboViz
	url = https://gitee.com/doot/RoboViz.git
